.profile {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    /* color: #fff; */
    gap: 30px;
}

.profile-info h1 {
    font-size: 55px;
}

.profile-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.profile-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.profile-info .btn-sci {
    display: flex;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    background: #7cf03d;
    border: 2px solid #7cf03d;
    border-radius: 40px;
    box-shadow: 0 0 10px #7cf03d;
    font-size: 16px;
    color: #1f242d;
    font-weight: 600;
}

.btn:hover {
    background: transparent;
    color: #7cf03d;
    box-shadow: none;
}

.profile-info .btn-sci .sci {
    margin-left: 20px;
}

.profile-info .btn-sci .sci a {
    display: inline-flex;
    padding: 8px;
    border: 2px solid #7cf03d;
    border-radius: 50%;
    font-size: 20px;
    color: #7cf03d;
    margin: 0 8px;
    transition: .05s;
}

.profile-info .btn-sci .sci a:hover {
    background: #7cf03d;
    color: #1f242d;
    box-shadow: 0 0 10px #7cf03d;
}

.profile-img .img {
    position: relative;
    width: 32vw;
    height: 32vw;
    background: red;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile-img .img::before,
.profile-img .img::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #7cf03d);
}

.profile-img .img .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #1f242d;
    border-radius: 50%;
    border: 1px solid #1f242d;
    z-index: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.profile-img .img .img-item img {
    position: absolute;
    display: block;
    top: 30px;
    width: 85%;
    object-fit: cover;
    mix-blend-mode: lighten;
}


/* -------- Responsive Styles -------- */
@media (max-width: 750px) {
    .profile {
        flex-direction: column-reverse
    }

    .btn-sci {
        flex-direction: column;

    }

    .sci {
        margin-top: 15px;
    }

    .profile-info {
        text-align: center;
    }
}





